In [2]:
import pandas as pd

In [28]:
names = ["id","auteur","lien_auteur","nom_auteur","reclamation_examinee","date_examination","source","lien","pub_nom_auteur","pub_lien_auteur",
         "date_publication","contenu","extra_auteur","extra_contenu","extra_publication_examinée",
         "extra_mot_cle","extra_lien_reference","extra_tags","extra_titre","note_nom_alternatif","meilleure_note",
         "valeur_note","pire_note"]
df = pd.read_csv('Dataset/claim.csv', sep=',', names = names, skiprows = 1, nrows = 5000)
df2 = pd.read_csv('Dataset/claim.csv', sep=',', names = names, skiprows = 5001, nrows = 5000)
df3 = pd.read_csv('Dataset/claim.csv', sep=',', names = names, skiprows = 10001, nrows = 5000)
df4 = pd.read_csv('Dataset/claim.csv', sep=',', names = names, skiprows = 15001, nrows = 5000)

In [29]:
df = pd.concat([df, df2])
df = pd.concat([df, df3])
df = pd.concat([df, df4])
display(df.sample(5))

,id,auteur,lien_auteur,nom_auteur,reclamation_examinee,date_examination,source,lien,pub_nom_auteur,pub_lien_auteur,...,extra_contenu,extra_publication_examinée,extra_mot_cle,extra_lien_reference,extra_tags,extra_titre,note_nom_alternatif,meilleure_note,valeur_note,pire_note
4428,953,NaN,politifact,NaN,"""""For the first time since the Korean War, tot...",2013-10-08,politifact,http://www.politifact.com/truth-o-meter/statem...,Dennis Ross,NaN,...,"[{""id"" : 26807966"",""""begin"": 7,""end"": 18,""enti...","[{""id"" : 16772"",""""begin"": 29,""end"": 39,""entity...",[],http://www.tampabay.com/opinion/columns/rep-ro...,Federal Budget,Rep. Dennis Ross says U.S. spending has fallen...,True,NaN,NaN,NaN
2614,2614,NaN,snopes,NaN,Videos have captured strange apocalyptic sound...,2015-04-30,snopes,https://www.snopes.com/fact-check/the-sound-of...,NaN,NaN,...,"[{""id"" : 3524766"",""""begin"": 205,""end"": 212,""en...",[],[],http://www.latinospost.com/articles/58418/2015...,supernatural,The Sound of Apocalypse,Mixture,NaN,NaN,NaN
3925,3925,NaN,snopes,NaN,The family of a terminally ill boy is asking p...,2017-11-08,snopes,https://www.snopes.com/fact-check/jacob-thomps...,NaN,NaN,...,"[{""id"" : 1156401"",""""begin"": 58,""end"": 72,""enti...",[],"[{""id"" : 1156401"",""""begin"": 16,""end"": 30,""enti...","https://www.gofundme.com/xkcjc8,http://boston....","christmas cards, jacob thompson",Terminally Ill Nine-Year-Old Hopes for Christm...,Outdated,NaN,NaN,NaN
1965,6965,NaN,snopes,NaN,The Amish don’t get autism because they do not...,2016-10-28,snopes,https://www.snopes.com/fact-check/the-amish-do...,NaN,NaN,...,"[{""id"" : 19346935"",""""begin"": 67,""end"": 72,""ent...","[{""id"" : 19346935"",""""begin"": 4,""end"": 9,""entit...","[{""id"" : 19346935"",""""begin"": 0,""end"": 5,""entit...",http://blogs.plos.org/thepanicvirus/2011/06/28...,"amish, anti-vaccine, autism, vaccines",The Amish Don’t Get Autism?,False,NaN,NaN,NaN
2439,2439,NaN,snopes,NaN,A child was expelled from elementary school fo...,2018-06-25,snopes,https://www.snopes.com/fact-check/was-child-ex...,NaN,NaN,...,"[{""id"" : 7529378"",""""begin"": 34,""end"": 42,""enti...","[{""id"" : 4848272"",""""begin"": 58,""end"": 70,""enti...","[{""id"" : 4848272"",""""begin"": 0,""end"": 12,""entit...",https://www.facebook.com/thelastlineofdefense/...,"donald trump, the last line of defense",Was a Child Expelled From School for Wearing a...,False,NaN,NaN,NaN

In [21]:
display(df.shape)

(20000, 23)

On supprime toutes les colonnes qui ou toutes les lignes sont Nan

In [22]:
df = df.drop(df.columns[[1, 3]], axis='columns')

In [23]:
df = df.drop(df.columns[[6, 7]], axis='columns')

In [24]:
df = df.drop(df.columns[[6, 8]], axis='columns')

In [25]:
df = df.drop(df.columns[[14, 15]], axis='columns')

In [26]:
df = df.drop(df.columns[[14]], axis='columns')

In [27]:
display(df.sample(5))

,0,2,4,5,6,7,11,13,14,15,16,17,18,19
1176,16176,snopes,When a man at the door identifies himself as a...,2007-06-05,snopes,https://www.snopes.com/fact-check/the-blind-man/,Legend: When a man at the door identifies hi...,"[{""id"" : 2018731"",""""begin"": 12,""end"": 17,""enti...","[{""id"" : 2018731"",""""begin"": 5,""end"": 10,""entit...",[],"/sources/curses.htm,/sources/children/beheaded...","ASP Article, In The Buff",The Blind Man,Legend
11,15011,snopes,A supporter of U.S. Rep. Alexandria Ocasio-Cor...,2019-10-04,snopes,https://www.snopes.com/fact-check/babies-clima...,"An Oct. 3, 2019, town hall event in New York C...","[{""id"" : 645042"",""""begin"": 33,""end"": 46,""entit...","[{""id"" : 54885332"",""""begin"": 22,""end"": 45,""ent...",[],https://twitter.com/redsteeze/status/117991491...,NaN,Did an AOC Supporter Suggest ‘Eating Babies’ t...,Mixture
259,10259,snopes,A photograph snapped during a tornado shows a ...,2015-05-18,snopes,https://www.snopes.com/fact-check/cthulhu-rising/,An image of what appears to be a large winged ...,"[{""id"" : 13509"",""""begin"": 464,""end"": 476,""enti...",[],"[{""id"" : 21830"",""""begin"": 0,""end"": 7,""entity"":...",http://www.nbcnews.com/news/weather/extremely-...,Natural Phenomena,Did a Tentacled Creature Appear in a Tornado?,False
1024,11024,snopes,You can win a free car by liking or sharing a ...,2015-02-01,snopes,https://www.snopes.com/fact-check/facebook-car...,"In December 2014, a number of Facebook pages u...","[{""id"" : 7529378"",""""begin"": 29,""end"": 37,""enti...",[],"[{""id"" : 7529378"",""""begin"": 13,""end"": 21,""enti...","/inboxer/nothing/costco.asp,/inboxer/nothing/k...","car giveaway, facebook, fact check",Facebook Car Giveaway,False
2420,17420,snopes,NASA and NOAA faked climate data in the GISTEM...,2019-10-03,snopes,https://www.snopes.com/fact-check/global-warmi...,"Since 2014, climate-change deniers have squeez...","[{""id"" : 7529378"",""""begin"": 65,""end"": 73,""enti...","[{""id"" : 18426568"",""""begin"": 0,""end"": 4,""entit...",[],https://www.buzzfeednews.com/article/stephanie...,NaN,Was Global Warming Data ‘Faked’ to ‘Fit Climat...,False

Nouveau nombre de lignes et colonnes

In [22]:
display(df.shape)

(10000, 14)